html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }



body {
background-color: #FAFAFA;
font-family: 'Montserrat', sans-serif;
line-height: 1.4;
color: #8B8B8B;
font-weight: 300;
margin: 0;
}

.main {
    padding: 60px 20px;
}

.banner {
    max-width: 350px;
    height: 290px;
    background-image: url(images/happy-traveler.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 40px auto;
}


h1, h2, .text {
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 28px;
    /* font-weight: 500; */
    color: #000000;
    margin: 0;
}

.line {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

h2 {
    font-size: 16px;
    color: #000000;
    margin-top: 60px;
}

.intro .text {
    margin-top: 30px;
}

.section .text {
    margin-top: 15px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #407BFF;
    padding: 10px 30px;
    border-radius: 20px;
    
}

li {
    text-align: center;  
    margin-top: 10px;
}

.button-beach {
    background-color: #8B8B8B;
}

.box {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
    /* border: 1px solid red; */
    padding: 20px;
    box-shadow: 0px 4px 6px #407BFF1F;
}

.text-box {
    font-size: 13px;
    font-weight: 300;
    margin-left: 30px;
}

@media screen and (min-width: 640px) {

    .banner {
        max-width: 400px;
        height: 332px;   
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .button-adventure {
        margin-right: 10px;
    }

    .button-beach {
        margin-left: 10px;
    }

    h2 {
        margin-top: 80px;
    }

    .section .text {
        margin-top: 17px;
        margin-bottom: 40px;
    }

    .text {
        margin-left: 15%;
        margin-right: 15%;
    }

    .box-container {
        display: flex;
        justify-content: space-between;
    }

    .box {
        max-width: calc((100% - 40px) / 3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        padding: 40px 15px;
    }

    .text-box {
        margin: 0;
        text-align: center;
    }

    .icon {
        margin-bottom: 20px;
    }
 
}

@media screen and (max-width: 1100px) {

    
}





  